/*=============================================================================================	
	style css decorated by : Web Architect (webarq.com)
==============================================================================================*/
@import url("../fonts/open_sans/OpenSans-Regular.css");
body ::selection { background: #2CB3FF; }
body ::-moz-selection {
 background: #2CB3FF;
}
body {
	color: #333;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
a { text-decoration: none; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.regular { font-weight: lighter; }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.afterclear {
	content: ' ';
	display: block;
	clear: both;
}
p {
	margin: 1px 0 15px;
	line-height: 20px;
}
input, textarea, select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border: 1px solid #D8D8D8;
	padding: 5px;
	margin: 0;
	color: #666;
}
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 960px;
	margin: 0 auto;
}
/* style button
----------------------------------------------------------------------------------------------*/
#btn_login { }
.readmore {
	color: #0e5f98;
	font-size: 10px;
}
.readmore:before {
	content: url(../images/material/icon-readmore.png);
	vertical-align: middle;
	display: inline-block;
	margin-right: 7px;
	height:14px;
}
/* header
----------------------------------------------------------------------------------------------*/
header {
	position: relative;
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #2e2e2e;
	z-index: 2;
}
header .head-wrap {
	width: 1024px;
	position: relative;
	background-image: url(../images/material/bg-header.jpg);
	background-repeat: repeat-x;
	height: 90px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
header .head-wrap:before {
	content: '';
	width: 0;
	height: 0;
	border-top: 90px solid #2e2e2e;
	border-left: 29px solid transparent;
	position: absolute;
	left: -29px;
	top: 0px;
}
header .head-wrap:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 90px solid #2e2e2e;
	border-right: 29px solid transparent;
	position: absolute;
	right: -29px;
	top: 0px;
}
header .head-wrap ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
header .head-wrap .logo {
	background: #fff;
	text-align: center;
	width: 235px;
	padding-top: 21px;
	padding-bottom: 20px;
	position: relative;
}
header .head-wrap .logo:after {
	content: '';
	position: absolute;
	width: 43px;
	background-image: url(../images/material/gradient-header.jpg);
	background-repeat: repeat-y;
	right: -43px;
	height: 100%;
	top: 0;
}
header .right { padding: 15px; }
header .right ul { }
header .right ul li {
	float: left;
	margin-right: 13px;
}
header .right ul li a {
	font-size: 11px;
	color: #2e2e2e;
	text-align: left;
}
header .right .top-menu {
	text-align: right;
	margin-bottom: 15px;
}
header .right .top-menu ul, header .right .top-menu form { display: inline-block; }
header .right .top-menu form {
	background-color: #fff;
	border: 1px solid #898989;
}
header .right .top-menu form input {
	border: 0;
	background: transparent;
}
header .right .top-menu form input[type=submit] {
	background-image: url(../images/material/icon-search.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 25px;
}
header .right .bottom-menu { }
header .right .bottom-menu li a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
header .right .bottom-menu li a.red { color: #ad0202; }
/* middle
----------------------------------------------------------------------------------------------*/
#middle { position: relative; }
#main-banner {
	margin-top: -90px;
	z-index: 1;
}
.wrap-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1366px;
	padding-right: 33px;
	padding-left: 33px;
}
section { position: relative; }
/* footer
----------------------------------------------------------------------------------------------*/
footer {
	position: relative;
	background-color: #2e2e2e;
	color: #808080;
	font-size: 11px;
}
footer .phone {
	background-color: #e6e6e6;
	display: inline-block;
	color: #000;
	border: 1px solid #949494;
	padding-right: 8px;
	margin-top: 15px;
}
footer .phone span {
	background-color: #000;
	color: #e6e6e6;
	display: inline-block;
	padding: 5px;
	font-weight: bold;
}
footer .menu-footer { }
footer .menu-footer a { color: #808080; }
footer .menu-footer a:after {
	content: ' | ';
	margin-right: 3px;
	margin-left: 3px;
}
footer .menu-footer a:last-child:after { content: ''; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
/* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
/* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
/* Desktop styles */
}
